body{
    background-image:  url(../imagens/ark13.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

h2{
    color: white;
    padding-top:20px;
}

.mm{
    color: white; 
    font-size: 25px;
    padding-top:30px;
}

.none{
    display: none;
}

button{
    font-size: 15px;
    margin-top: 15px;
}

a{
color: rgb(79, 79, 224);
}

.withe{
    color: white;
    font-size:20px;
}