th{
    padding-left: 50px;
}

td{
    padding-left: 100px;
}


.afas{
    padding-left: 100px;
}

.fts{
    padding-left: 96px;
}

body{
    background-image: url(../imagens/ark123.jpg);
}

div{
    color:wheat
}

a{
    color: rgb(120, 120, 231);
}

h2{
    color:wheat;
}

table{
    color: wheat;
}