body{
    background-image:  url(../imagens/ark13.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.Now{
    color: white;
    font-size: 40px;
}

h2{
    color: white;
    font-size: 40px;
}

ol{
    color: white;
    font-size:25px;
}

a{
    color: rgb(84, 84, 236);
}